{{! Module 15 Project 2: Note Taker - New Category }}
{{! http://localhost:3000/category }}

<div>
  <h3>
    Enter your Category
  </h3>

  <form id="new-category-form">
    <div>
      <label for="category-name">Category Name</label>
      <input type="text" id="category-name" name="category-name" />
    </div>

    <button type="submit">Save Category</button>
  </form>
</div>

<script src="/js/add-category.js"></script>