{{! Module 15 Project 2: Note Taker - New Category and Current Category Inventory }}
{{! http://localhost:3000/category }}

<div class="">
  <h3>
    Add Category
  </h3>

  <form id="new-category-form">
    <div>
      <label for="category-name" class="form-label">New Category Name:</label>
      <input type="text" id="category-name" class="col-x-sm col-3-lg" name="category-name" />
      <button type="submit" class="btn btn-secondary btn-sm col-x-sm m-1 py-1 px-4 fw-bold">Save</button>
    </div>
  </form>

</div>

<br>

<div class="">
  <h3>
    Current Categories
  </h3>

  {{#each categories}}
      <p>
        <span class="fs-6 "> 
          Category Name:
        </span>
        <a href="/category/{{id}}">{{category_name}}</a> 
      </p>
  {{/each}}
  
</div>

<script src="/js/add-category.js"></script>