{{! Module 15 Project 2: Note Taker - New Note }}
{{! http://localhost:3000/entry }}

<div>
  <h3>
    Note Entry
  </h3>

  <form id="new-note-form">
    <div class="m-2 p-1">
      <label for="note-title" class="form-group">Title:</label>
      <input type="text" class="form-control" id="note-title" name="note-title" />
    </div>

    <div class="m-2 p-1">
      <label for="category" class="form-group">Category:</label>
      {{! <input type="text" id="category-id" name="category-id" /> }}

      <select class="form-control" id="category-id">
        {{#each categories}}
          <option value="{{id}}">{{category_name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="m-2 p-1">
      <label for="note-body" class="form-group">Description:</label>
      <textarea name="note-body" class="form-control" id="note-body"></textarea>
    </div>

    <div class="d-grid d-sm-flex">
      <button type="submit" class="btn btn-secondary m-2 fw-bold px-4">Save</button>
    </div>
  </form>
</div>

<script src="/js/add-note.js"></script>