{{! Module 15 Project 2: Note Taker - New Note }}
{{! http://localhost:3000/entry }}

<div>
  <h3>
    Enter your Note
  </h3>

  <form id="new-note-form">
    <div>
      <label for="note-title">Note Title</label>
      <input type="text" id="note-title" name="note-title" />
    </div>

    <div>
      <label for="note-body">Note Text</label>
      <textarea name="note-body" id="note-body"></textarea>
    </div>

    <button type="submit">Save Note</button>
  </form>
</div>

<script src="/js/add-note.js"></script>