{{! Module 15 Project 2: Note Taker - New Member Registration }}

<div>
  <h3>
    Join the Note Taker Application
  </h3>
  <form id="join-form">
    <div>
      <label for="username-join">Enter a User Name:</label>
      <input type="text" id="username-join" name="username-join" />
    </div>

    <div>
      <label for="password-join">Enter a Password</label>
      <input type="text" id="password-join" name="password-join" />
    </div>

    <button type="submit" id="join-btn">Join</button>
  </form>
</div>

<script src="/js/add-user.js"></script>