{{! Module 15 Project 2: Note Taker - Member Signin }}

<div>
  <div>
    <p>Not yet a Member? Join!</p>
    <a href="/join" type="button">Sign Up</a>
  </div>

  <h3>
    Sign In
  </h3>

  <form id="signin-form">
    <div>
      <label for="username-signin">Enter your User Name:</label>
      <input type="text" id="username-signin" />
    </div>

    <div>
      <label for="password-signin">Enter your Password:</label>
      <input type="text" id="password-signin" />
    </div>

    <button type="submit" id="signin-btn">
      Sign In
    </button>
  </form>
</div>